@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins&display=swap');

.slide > img {
  height: 100vh;
}

.carousel-btn {
  background-color: #1b6ccf;
}

/* .carousel {
  position: absolute;
} */

.navbar {
  position: absolute;
  z-index: 1;
  width: 100vw;
  background: transparent;
}

.hotel-book-section {
  /* background-color: rgb(0, 0, 0, .4); */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
  gap: 5%;
}

.content-container {
  flex: 1;
}

.image-container {
  padding: 2%;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.container-text {
  flex: 1;
}

.hotel-buttons {
  padding: 13px 40px;
  background-color: #1b6ccf;
  margin-top: 10%;
  color: #ffff;
  border: none;
}


/* .package-elements {
  display: flex;
} */
