@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins&display=swap');

.slide > img {
  height: 100vh;
}

.carousel-btn {
  background-color: #1b6ccf;
}

.hotel-book-section {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
  gap: 5%;
}

.content-container {
  flex: 1;
}

.image-container {
  padding: 2%;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.container-text {
  flex: 1;
}

.hotel-buttons {
  padding: 13px 40px;
  background-color: #1b6ccf;
  margin-top: 10%;
  color: #ffff;
  border: none;
}

/* Blog card section */
.blog-card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 20px;
  padding: 3%;
}

.blog-card {
  height: 100%;
  padding-bottom: 5%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: transform 0.5s;
}

.image-card img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.blog-card:hover {
  transform: scale(1.1);
}

.blog-details {
  display: flex;
  justify-content: space-between;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .service-container {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .service-container {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .service-container {
    display: flex;
  }
}
