.big-five {
  background-color: #F7F8FA;
}
.slick-prev:before {
  color: black;
  font-size: 1.5rem;
}

.slick-next::before {
  color: black;
  font-size: 1.5rem;
}

.line-seperator {
  height: 5px;
  width: 20%;
  background-color: #1b6ccf;
}

.safari-carousel {
  background-color: #F7F8FA ;
}

.safari-container {
  width: 100%;
}

.safari-inner {
  height: 100%;
  width: 90%;
  padding: 2%;
}

.left-details {
  flex: 2;
}

.right-details {
  flex: 1;
}
.enquiry-form {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 4px;
  height: fit-content;
}

.gallery-slide > img {
  height: fit-content;
}

.iternary-icons {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.55);
}

.itenary {
  flex: 2;
}

.safari-section {
  background-color: #F7F8FA;
}
