.big-five {
  background-color: #F7F8FA;
}
.slick-prev:before {
  color: black;
  font-size: 1.5rem;
}

.slick-next::before {
  color: black;
  font-size: 1.5rem;
}

.line-seperator {
  height: 5px;
  width: 20%;
  background-color: #1b6ccf;
}

.safari-carousel {
  background-color: #F7F8FA ;
}

.safari-container {
  width: 100%;
}

.safari-inner {
  height: 100%;
  width: 90%;
  padding: 2%;
}

.left-details {
  flex: 2;
}

.right-details {
  flex: 1;
}
.enquiry-form {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 4px;
  height: fit-content;
}

.gallery-slide > img {
  height: fit-content;
}

.iternary-icons {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.55);
}

.itenary {
  flex: 2;
}

.safari-section {
  background-color: #F7F8FA;
}

/* Kenya's coast */
.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

/* .fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
} */

.coast-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 50%;
  /* min-height: 100vh; */
}

.coast-background {
  background-image: url("../images/hotel.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 600px;
}

#button {
  background-color: #1b6ccf;
  padding: 14px 42px;
  border-radius: 0;
  font-size: 1rem;
  letter-spacing: 5px;
}

/* Rwanda */
.rwanda-container {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.rwanda-line-seperator {
  min-width: 250px;
  border: 2px solid #90BAF8 ;
}
